<%- include('./partials/header') %>

    <%- include('./partials/menu') %>

        <body>
            <div class="clearfix"></div>
            <div class="content-wrapper">
                <div class="container-fluid">

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Barang</h5>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead id="sorting">
                                                <tr>
                                                    <th>id barang</th>
                                                    <th>nama barang</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                        <div class="row mb-3">
                                            <div class="col-sm-12">
                                                <ul aria-label="Page navigation" id="pagination">
                                                </ul>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-sm-12">

                                                </div>
                                            </div>

                                        </div>
                                        <form id="form-tambah">
                                            <input type="hidden" id="id" name="id" value="">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Form Barang Tambah</h5>
                                                </div>

                                                <div class="card-body">

                                                    <div class="row mb-3">
                                                        <label for="id_barang" class="col-sm-2 col-form-label">id
                                                            barang</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="id_barang"
                                                                name="ID_barang" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <label for="nama_barangs" class="col-sm-2 col-form-label">nama
                                                            barang</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="nama_barang"
                                                                name="Nama_barang" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <form id="form-edit">
                                        <input type="hidden" id="id" name="id" value="">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Form Barang Edit</h5>
                                            </div>

                                            <div class="card-body">

                                                <div class="row mb-3">
                                                    <label for="id_barang" class="col-sm-2 col-form-label">id
                                                        barang</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="id_barangedit"
                                                            name="ID_barang" required>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <label for="nama_barang" class="col-sm-2 col-form-label">nama
                                                        barang</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="nama_barangedit"
                                                            name="Nama_barang" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
        </body>


        <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

        <script>
            var params = {
                display: 3,
                page: 1
            }
            const readData = () => {
                $.ajax({
                    method: "GET",
                    url: "http://localhost:3000/barang",
                    dataType: "json",
                    headers: {
                        json: true
                    },
                    data: params
                }).done(function (data) {
                    console.log('data', data)
                    const datas = data[0]
                    let html = ''
                    datas.forEach((item, index) => {
                        html += `
    <tr>
      <td>${item.id_barang}</td>
      <td>${item.nama_barang}</td>
      <td>
        <button type="button" class="btn btn-success btn-sm btn-edit" id_data="${item.id_barang}"><i class="zmdi zmdi-edit"></i></button>
        <button type="button" class="btn btn-danger btn-sm btn-delete" id_data="${item.id_barang}"><i class="zmdi zmdi-delete"></i></button>
      </td>
    </tr>
    `
                    });
                    $('table tbody').html(html)
                }).fail(function (err) {
                    alert('gagal jquery')
                })
            }

            const saveData = (id_barang, nama_barang) => {
                $.ajax({
                    method: "POST",
                    url: `http://localhost:3000/barang`,
                    dataType: "json",
                    headers: {
                        json: true
                    },
                    data: { id_barang, nama_barang }
                }).done(function (response) {
                    readData()
                    $("#form-tambah").trigger("reset");
                }).fail(function (err) {
                    alert('gagal jquery')
                })
            }


            const saveEdit = (id_barang, nama_barang) => {
                $.ajax({
                    method: "PUT",
                    url: `http://localhost:3000/barang/${id_barang}`,
                    dataType: "json",
                    headers: {
                        json: true
                    },
                    data: { nama_barang }
                }).done(function (response) {
                    readData()
                    $('#id_barang').val('')
                    $("#form-edit").trigger("reset");
                }).fail(function (err) {
                    alert('gagal pake jquery')
                })
            }


            const editData = (id) => {
                $.ajax({
                    method: "GET",
                    url: `http://localhost:3000/barang/${id}`,
                    dataType: "json",
                    headers: {
                        json: true
                    },
                }).done(function (data) {
                    $('#id_barangedit').val(data[0].id_barang)
                    $('#nama_barangedit').val(data[0].nama_barang)
                }).fail(function (err) {
                    alert('gagal pake jquery')
                })
            }

            const deleteData = (id) => {
                $.ajax({
                    method: "DELETE",
                    url: `http://localhost:3000/barang/${id}`,
                    dataType: "json",
                    headers: {
                        json: true
                    },
                }).done(function (response) {
                    readData()
                }).fail(function (err) {
                    alert('gagal pake jquery')
                })
            }

            $(document).ready(function () {
                readData()

                $('#form-tambah').submit(function (event) {
                    event.preventDefault();
                    const id_barang = $('#id_barang').val()
                    const nama_barang = $('#nama_barang').val()

                    saveData(id_barang, nama_barang)
                })

                $('#form-edit').submit(function (event) {
                    event.preventDefault();
                    const id_barang = $('#id_barangedit').val()
                    const nama_barang = $('#nama_barangedit').val()

                    saveEdit(id_barang, nama_barang)
                })


                $('table tbody').on('click', '.btn-edit', function () {
                    const id = $(this).attr('id_data')
                    console.log(id)
                    editData(id)
                })

                $('table tbody').on('click', '.btn-delete', function () {
                    const id = $(this).attr('id_data')
                    deleteData(id)
                })


            })

        </script>
        <%- include('./partials/footer') %>