    <!DOCTYPE html>
    <html>

    <head>
        <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>


        <link rel="stylesheet" href="fontawesome/css/all.css">
        <link rel="stylesheet" href="stylesheets/style.css">
        <link rel="stylesheet" href="bootstrap-5.2.1/css/bootstrap.min.css">

        <link rel="shortcut icon" href="#">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous">
        </script>
        
        <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" />
    <script src="assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="assets/css/app-style.css" rel="stylesheet" />

    <style>
        .modal-content {
        background: rgb(53, 123, 151);
        }
    </style>

</head>
<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">
  
      <!--Start sidebar-wrapper-->
      <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
        <div class="brand-logo">
          <a href="index.html">
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
            <h5 class="logo-text">Dashtreme Admin</h5>
          </a>
        </div>
        <ul class="sidebar-menu do-nicescrol">
          <li class="sidebar-header">MAIN NAVIGATION</li>
          <li>
            <a href="/utama">
              <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
            </a>
          </li>
  
          <li>
            <a href="/barang">
              <i class="zmdi zmdi-label"></i> <span> Barang</span>
  
            </a>
          </li>
  
          <li>
            <a href="/gudang">
              <i class="zmdi zmdi-store-24"></i> <span>Gudang</span>
            </a>
          </li>
  
          <li>
            <a href="/penjualan">
              <i class="zmdi zmdi-format-valign-top"></i> <span>Penjualan</span>
            </a>
          </li>
  
          <li>
            <a href="/pembelian">
              <i class="zmdi zmdi-format-valign-bottom"></i> <span>Pembelian</span>
            </a>
          </li>
  
          <li>
            <a href="/satuan">
              <i class="zmdi zmdi-delicious"></i> <span>Satuan</span>
            </a>
          </li>
  
          <li>
            <a href="/supplier">
              <i class="zmdi zmdi-truck"></i> <span>Supplier</span>
            </a>
          </li>
  
          <li>
            <a href="/varian">
              <i class="zmdi zmdi-view-quilt"></i> <span>Varian</span>
            </a>
          </li>
  
          <li>
            <a href="profile.html">
              <i class="zmdi zmdi-face"></i> <span>Profile</span>
            </a>
          </li>
  
          <li>
            <a href="/" target="_blank">
              <i class="zmdi zmdi-lock"></i> <span>Login</span>
            </a>
          </li>
  
          <li>
            <a href="/register" target="_blank">
              <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
            </a>
          </li>
  
        </ul>
  
      </div>
      <!--End sidebar-wrapper-->
  
      <!--Start topbar header-->
      <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
          <ul class="navbar-nav mr-auto align-items-center">
            <li class="nav-item">
              <a class="nav-link toggle-menu" href="javascript:void();">
                <i class="icon-menu menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <form class="search-bar">
                <input type="text" class="form-control" placeholder="Enter keywords">
                <a href="javascript:void();"><i class="icon-magnifier"></i></a>
              </form>
            </li>
          </ul>
  
          <ul class="navbar-nav align-items-center right-nav-link">
            <li class="nav-item dropdown-lg">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                href="javascript:void();">
                <i class="fa fa-envelope-open-o"></i></a>
            </li>
            <li class="nav-item dropdown-lg">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                href="javascript:void();">
                <i class="fa fa-bell-o"></i></a>
            </li>
            <li class="nav-item language">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                href="javascript:void();"><i class="fa fa-flag"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle"
                    alt="user avatar"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-item user-details">
                  <a href="javaScript:void();">
                    <div class="media">
                      <div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110x110"
                          alt="user avatar"></div>
                      <div class="media-body">
                        <h6 class="mt-2 user-title"></h6>
                        <p class="user-subtitle"></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><i class="icon-power mr-2"></i><a href="/logout"> Logout</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </header>
      <!--End topbar header-->
  
      <!--start color switcher-->
      <div class="right-sidebar">
        <div class="switcher-icon">
          <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">
  
          <p class="mb-0">Gaussion Texture</p>
          <hr>
  
          <ul class="switcher">
            <li id="theme1"></li>
            <li id="theme2"></li>
            <li id="theme3"></li>
            <li id="theme4"></li>
            <li id="theme5"></li>
            <li id="theme6"></li>
          </ul>
  
          <p class="mb-0">Gradient Background</p>
          <hr>
  
          <ul class="switcher">
            <li id="theme7"></li>
            <li id="theme8"></li>
            <li id="theme9"></li>
            <li id="theme10"></li>
            <li id="theme11"></li>
            <li id="theme12"></li>
            <li id="theme13"></li>
            <li id="theme14"></li>
            <li id="theme15"></li>
          </ul>
  
        </div>
      </div>
      <!--end color switcher-->
  
<body>

    <!-- Button trigger modal pembelian-->
    

    <!-- Modal pembelian -->
    <div class="modal fade" id="pembelian-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="pembelianmodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pembelian-modalLabel">Pembelian</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" id="generateinvoice">Generate Invoice</button>
                    <!-- form Pembelian -->
                    <form class="form-pembelian" id="form-pembelian">
                        <div class="form-group">
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice"
                                id="no_invoice">
                        </div>
                        <div class="form-group">
                            <label for="id_barang">ID Supplier</label>
                            <select class="form-control" id="id_supplier" name="id_supplier">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_gudang">ID Gudang</label>
                            <select class="form-control" id="id_gudang" name="id_gudang">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_barang">ID Operator</label>
                            <select class="form-control" id="id_user" name="id_user">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga Detail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga"
                                    name="total_harga">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button hidden type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="close">Close</button>
                            <button type="button" class="btn btn-primary" id="savePembelian">Done</button>
                        </div>
                    </form>

                    <!-- form detail -->
                    <form class="form-detail" id="form-detail">
                        <div class="form-group" hidden>
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice"
                                id="no_invoice">
                        </div>
                        <div class="form-group">
                            <label for="barcode">Barcode</label>
                            <select class="form-control" id="barcode" name="barcode" onchange="getAmount()">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qty">qty</label>
                            <input type="text" class="form-control" name="qty" id="qty" onblur="getAmount()" value="0">
                        </div>
                        <div class="form-group">
                            <label for="harga_beli">Harga Beli</label>
                            <input type="text" class="form-control" name="harga_beli" id="harga_beli"
                                readonly='readonly'>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga Beli</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga_detail"
                                    name="total_harga_detail" default="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="reset"
                            id="reset-form-detail">Clear</button>
                        <button type="button" class="btn btn-primary" id="saveDetails">Save Details</button>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No.</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Beli</th>
                                <th> Total Harga</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody id="beli_detail">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <!-- table -->
    <div class="clearfix"></div>
      <div class="content-wrapper">
        <div class="container-fluid">

          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daftar Pembelian Barang</h5>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                    <thead>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pembelian-modal">
                            Tambah Pembelian
                        </button>
                        <tr>
                            <th> No.</th>
                            <th> No.Invoice Pembelian</th>
                            <th> Tanggal Pembelian </th>
                            <th> Total Harga Beli</th>
                            <th> ID Gudang</th>
                            <th> ID Supplier</th>
                            <th> ID Operator</th>
                        </tr>
                    </thead>
                    <tbody id="pembelian">
                    </tbody>
                </table>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No Detail</th>
                                <th> No.Invoice Pembelian</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Beli</th>
                                <th> Total Harga</th>
                            </tr>
                        </thead>
                        <tbody id="detail_pembelian">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>



<script>

    var params = {}

    const readData = (invo) => {
        if (invo) {
            $.ajax({
                method: "GET",
                url: `http://localhost:3000/pembelian/details/${invo}`,
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (res) {
                let totalDetail = res
                let harga = 0

                totalDetail.forEach((item) => {
                    harga += parseInt(item.total_harga)
                })
                $('#total_harga').val(harga);


                let dwitel = res
                let dwi = ''
                dwitel.forEach((item, index) => {
                    dwi += `
        <tr>
            <td>${index + 1}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_beli}</td>
            <td>${item.total_harga}</td>
          <td>
           
            <button type="button" class="btn btn-danger btn-icon-delete" detail_data="${item.id_detail}"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        `
                });
                $('#beli_detail').html(dwi)

            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery read detail pembelian modals')
            })


        } else {
            $.ajax({
                method: "GET",
                url: "http://localhost:3000/pembelian",
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (pembelian) {
                params = {...params}
                let data1 = pembelian[0]
                let html = ''
                data1.forEach((item, index) => {
                    html += `
        <tr>
            <td>${index + 1}</td>
            <td><a href="#" class="link" id="invoice" datapage="${item.no_invoice}">${item.no_invoice}</a></td>
            <td>${item.tanggal}</td>
            <td>${item.total_harga}</td>
            <td>${item.id_gudang}</td>
            <td>${item.supplierid}</td>
            <td>${item.operatorid}</td>
          <td>
            <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.no_invoice}"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        `
                });

                let data2 = pembelian[1]
                let detail = ''
                data2.forEach((item, index) => {
                    detail += `
        <tr>
            <td>${item.id_detail}</td>
            <td>${item.no_invoice}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_beli}</td>
            <td>${item.total_harga}</td>
            <td>
            <button type="button" class="btn btn-danger btn-icon-delete" id_hps ="${item.id_detail}"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        `
                });

                let data3 = pembelian[2]
                let gudang = ''
                data3.forEach((item, index) => {
                    gudang += `
<option value="${item.id_gudang}">
${item.id_gudang} - ${item.nama_gudang}
</option>
`
                });

                let data4 = pembelian[3]
                let supplier = ''
                data4.forEach((item, index) => {
                    supplier += `
<option value="${item.id_supplier}">
${item.id_supplier} - ${item.name}
</option>
`
                });

                let data5 = pembelian[4]
                let operator = ''
                data5.forEach((item, index) => {
                    operator += `
<option value="${item.userid}">
${item.userid} - ${item.name}
</option>
`
                });

                let data6 = pembelian[5]
                let varian = ''
                data6.forEach((item, index) => {
                    varian += `
<option value="${item.barcode}">
${item.barcode} - ${item.varian_name}
</option>
`
                });
                $('#barcode').html(varian)
                $('#id_user').html(operator)
                $('#id_supplier').html(supplier)
                $('#id_gudang').html(gudang)
                $('#detail_pembelian').html(detail)
                $('#pembelian').html(html)


            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery')
            })
        }
    }
    const varianValue = (barcode) => {

        $.ajax({
            method: "GET",
            url: `http://localhost:3000/pembelian/varian/${barcode}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: params
        }).done(function (pembelian) {
            $("#harga_beli").val(pembelian[0].buy_price)

        }).fail(function (err) {
            console.log("error", err)
            alert('gagal jquery read data varian harga')
        })
    }


    const saveData = (no_invoice, barcode, qty, harga_beli, total_harga_detail) => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3000/pembelian/detail`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { no_invoice, barcode, qty, harga_beli, total_harga_detail }
        }).done(function (response) {

            let invo = response.rows[0].no_invoice
            let barcode = response.rows[0].barcode

            alert(`detail ${barcode} added`)
            $("#form-detail").trigger('reset')
            readData(invo)
        }).fail(function (err) {
            alert('gagal pake jquery save details1')
        })
    }

    const saveBeli = (no_invoice, id_supplier, id_gudang, id_operator, total_harga) => {

        $.ajax({
            method: "PUT",
            url: `http://localhost:3000/pembelian/pbelian/${no_invoice}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { id_supplier, id_gudang, id_operator, total_harga }
        }).done(function (response) {
            alert('pembelian telah tertambah')
            $("#form-pembelian").trigger("reset");
            $("#form-detail").trigger("reset");
            $("#close").trigger("click")
            readData()
        }).fail(function (err) {
            console.log(err)
            alert('gagal pake jquery1', err)
        })
    }

    const saveInvoice = () => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3000/pembelian/createinvoice/`,
            dataType: "json",
            headers: {
                json: true
            },
            data: {}
        }).done(function (response) {
            $("#no_invoice").val(response[0].no_invoice)
            alert('Invoice Created')
        }).fail(function (err) {
            alert('gagal pake jquery save')
        })
    }


    // const editData = (id) => {
    //     $.ajax({
    //         method: "GET",
    //         url: `http://localhost:3000/pembelian/${id}`,
    //         dataType: "json",
    //         headers: {
    //             json: true
    //         }
    //     }).done(function (data) {
    //         console.log(data[0].sell_price)
    //         $('#id_supplier').val(data[0].id_supplier)
    //         $('#id_gudang').val(data[0].id_gudang)
    //         $('#id_operator').val(data[0].id_operator)
    //         $('#tanggal_pembelian').val(data[0].tanggal_pembelian)
    //         $('#total_harga').val(data[0].total_harga)
    //     }).fail(function (err) {
    //         alert('gagal pake jquery')
    //     })
    // }

    const deleteData = (id) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3000/pembelian/${id}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {

            readData()
        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })
    }

    const deleted = (id_detail) => {

        $.ajax({
            method: "DELETE",
            url: `http://localhost:3000/pembelian/dtl/${id_detail}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {
            const invo = $('#no_invoice').val()
            if (invo) {
                alert('details deleted')
                readData(invo)
            } else {
                alert('details deleted table ')
                readData()
            }
        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })
    }




    function getAmount() {
        var qty = $('#qty').val();
        var harga = $('#harga_beli').val();
        $('#total_harga_detail').val(qty * harga);

    }

    $(document).ready(function () {
        readData()
        // readSelect()

        $('#saveDetails').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const barcode = $('#barcode').val()
            const qty = $('#qty').val()
            const harga_beli = $('#harga_beli').val()
            const total_harga_detail = $('#total_harga_detail').val()
            saveData(no_invoice, barcode, qty, harga_beli, total_harga_detail)

        })

        $('#savePembelian').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const id_supplier = $('#id_supplier').val()
            const id_gudang = $('#id_gudang').val()
            const id_operator = $('#id_user').val()
            const total_harga = $('#total_harga').val()
            saveBeli(no_invoice, id_supplier, id_gudang, id_operator, total_harga)


        })

        $('table tbody').on('click', '.link', function (event) {
            event.preventDefault()
            params = { ...params, noInvoice: $(this).attr('datapage') }
            readData()
        })

        $('table tbody').on('click', '.btn-icon-text', function () {
            const id = $(this).attr('id_data')
            editData(id)

        })

        $('table tbody').on('click', '.btn-icon-delete', function () {
            const id = $(this).attr('id_data')
            deleteData(id)
        })

        $('#beli_detail').on('click', '.btn-icon-delete', function () {
            event.preventDefault()
            const detail_id = $(this).attr('detail_data')
            deleted(detail_id)
        })

        $('#detail_pembelian').on('click', '.btn-icon-delete', function () {
            event.preventDefault()
            const detail_id = $(this).attr('id_hps')
            console.log(detail_id)
            deleted(detail_id)
        })

        $('#reset-form-detail').click(function () {
            $("#form-detail").trigger("reset");
        })

        $('#generateinvoice').click(function () {
            saveInvoice()
        })

        $('#barcode').on('change', function () {
            varianValue(this.value);
        });

    })
</script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- simplebar js -->
<script src="assets/plugins/simplebar/js/simplebar.js"></script>
<!-- sidebar-menu js -->
<script src="assets/js/sidebar-menu.js"></script>
<!-- loader scripts -->
<script src="assets/js/jquery.loading-indicator.js"></script>
<!-- Custom scripts -->
<script src="assets/js/app-script.js"></script>
<!-- Chart js -->

<script src="assets/plugins/Chart.js/Chart.min.js"></script>

<!-- Index js -->
<script src="assets/js/index.js"></script>
</body>

</html>