<!DOCTYPE html>
<html>

<head>
    <title>BREADS</title>


    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="bootstrap-5.2.1/css/bootstrap.min.css">

    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</head>

<body>

    <!-- Button trigger modal pembelian-->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pembelian-modal">
        Tambah Pembelian
    </button>

    <div class="container">
        <div class="card-header">
            <form id="form-search">
                <div class="card">
                    <div class="card-header">
                        <h2>Form Pencarian</h2>
                    </div>

                    <div class="card-body">

                        <div class="row mb-3">
                            <label for="invoice" class="col-sm-2 col-form-label">Invoice</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="invoice" name="invoice">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="searchdates1" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="searchdates1" name="searchdates1">
                            </div>
                        </div>
                        <p>to</p>
                        <div class="row mb-3">
                            <label for="searchdates2" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="searchdates2" name="searchdates2">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <button type="button" id="reset-form-search" class="btn btn-warning">reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <!-- Modal pembelian -->
    <div class="modal fade" id="pembelian-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="pembelianmodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pembelian-modalLabel">Pembelian</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button type="button" class="btn btn-primary" id="generateinvoice">Generate Invoice</button>
                    <!-- form Pembelian -->
                    <form class="form-pembelian" id="form-pembelian">
                        <div class="form-group">
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice"
                                id="no_invoice">
                        </div>
                        <div class="form-group">
                            <label for="id_barang">ID Supplier</label>
                            <select class="form-control" id="id_supplier" name="id_supplier">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_gudang">ID Gudang</label>
                            <select class="form-control" id="id_gudang" name="id_gudang">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_barang">ID Operator</label>
                            <select class="form-control" id="id_user" name="id_user">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga Detail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga"
                                    name="total_harga">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button hidden type="button" class="btn btn-secondary" data-dismiss="modal"
                                id="close">Close</button>
                            <button type="button" class="btn btn-primary" id="savePembelian">Done</button>
                        </div>
                    </form>

                    <!-- form detail -->
                    <form class="form-detail" id="form-detail">
                        <div class="form-group" hidden>
                            <label for="no_invoice">Invoice</label>
                            <input type="text" readonly="readonly" class="form-control" name="no_invoice"
                                id="no_invoice">
                        </div>
                        <div class="form-group">
                            <label for="barcode">Barcode</label>
                            <select class="form-control" id="barcode" name="barcode" onchange="getAmount()">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qty">qty</label>
                            <input type="text" class="form-control" name="qty" id="qty" onblur="getAmount()" value="0">
                        </div>
                        <div class="form-group">
                            <label for="harga_beli">Harga Beli</label>
                            <input type="text" class="form-control" name="harga_beli" id="harga_beli"
                                readonly='readonly'>
                        </div>
                        <div class="form-group">
                            <label for="total_harga">Total Harga Beli</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">Rp</span>
                                </div>
                                <input type="text" class="form-control" aria-label="amount" id="total_harga_detail"
                                    name="total_harga_detail" default="0">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="reset"
                            id="reset-form-detail">Clear</button>
                        <button type="button" class="btn btn-primary" id="saveDetails">Save Details</button>
                    </form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No.</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Beli</th>
                                <th> Total Harga</th>
                                <th> Action</th>
                            </tr>
                        </thead>
                        <tbody id="beli_detail">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <!-- table -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Daftar Pembelian Barang</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> No.</th>
                            <th> No.Invoice Pembelian</th>
                            <th> Tanggal Pembelian </th>
                            <th> Total Harga Beli</th>
                            <th> ID Gudang</th>
                            <th> ID Supplier</th>
                            <th> ID Operator</th>
                        </tr>
                    </thead>
                    <tbody id="pembelian">
                    </tbody>
                </table>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> No Detail</th>
                                <th> No.Invoice Pembelian</th>
                                <th> Barcode </th>
                                <th> Qty</th>
                                <th> Harga Beli</th>
                                <th> Total Harga</th>
                            </tr>
                        </thead>
                        <tbody id="detail_pembelian">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>



<script>

    var params = {}

    const readData = (invo) => {
        if (invo) {
            $.ajax({
                method: "GET",
                url: `http://localhost:3000/pembelian/details/${invo}`,
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (res) {
                let totalDetail = res
                let harga = 0

                totalDetail.forEach((item) => {
                    harga += parseInt(item.total_harga)
                })
                $('#total_harga').val(harga);


                let dwitel = res
                let dwi = ''
                dwitel.forEach((item, index) => {
                    dwi += `
        <tr>
            <td>${index + 1}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_beli}</td>
            <td>${item.total_harga}</td>
          <td>
           
            <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.id_detail}"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        `
                });
                $('#beli_detail').html(dwi)

            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery read detail pembelian modals')
            })


        } else {
            $.ajax({
                method: "GET",
                url: "http://localhost:3000/pembelian",
                dataType: "json",
                headers: {
                    json: true
                },
                data: params
            }).done(function (pembelian) {
                let data1 = pembelian[0]
                let html = ''
                data1.forEach((item, index) => {
                    html += `
        <tr>
            <td>${index + 1}</td>
            <td><a href="#" class="link" id="invoice" datapage="${item.no_invoice}">${item.no_invoice}</a></td>
            <td>${item.tanggal}</td>
            <td>${item.total_harga}</td>
            <td>${item.id_gudang}</td>
            <td>${item.supplierid}</td>
            <td>${item.operatorid}</td>
          <td>
            <button type="button" class="btn btn-success btn-icon-text" id_data="${item.no_invoice}"><i class="fa-solid fa-pencil"></i></button>
            <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.no_invoice}"><i class="fa-solid fa-trash-can"></i></button>
          </td>
        </tr>
        `
                });

                let data2 = pembelian[1]
                let detail = ''
                data2.forEach((item, index) => {
                    detail += `
        <tr>
            <td>${item.id_detail}</td>
            <td>${item.no_invoice}</td>
            <td>${item.barcode}</td>
            <td>${item.qty}</td>
            <td>${item.harga_beli}</td>
            <td>${item.total_harga}</td>
        </tr>
        `
                });

                let data3 = pembelian[2]
                let gudang = ''
                data3.forEach((item, index) => {
                    gudang += `
<option value="${item.id_gudang}">
${item.id_gudang} - ${item.nama_gudang}
</option>
`
                });

                let data4 = pembelian[3]
                let supplier = ''
                data4.forEach((item, index) => {
                    supplier += `
<option value="${item.id_supplier}">
${item.id_supplier} - ${item.name}
</option>
`
                });

                let data5 = pembelian[4]
                let operator = ''
                data5.forEach((item, index) => {
                    operator += `
<option value="${item.userid}">
${item.userid} - ${item.name}
</option>
`
                });

                let data6 = pembelian[5]
                let varian = ''
                data6.forEach((item, index) => {
                    varian += `
<option value="${item.barcode}">
${item.barcode} - ${item.varian_name}
</option>
`
                });
                $('#barcode').html(varian)
                $('#id_user').html(operator)
                $('#id_supplier').html(supplier)
                $('#id_gudang').html(gudang)
                $('#detail_pembelian').html(detail)
                $('#pembelian').html(html)


            }).fail(function (err) {
                console.log("error", err)
                alert('gagal jquery')
            })
        }
    }
    const varianValue = (barcode) => {

        $.ajax({
            method: "GET",
            url: `http://localhost:3000/pembelian/varian/${barcode}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: params
        }).done(function (pembelian) {
            $("#harga_beli").val(pembelian[0].buy_price)

        }).fail(function (err) {
            console.log("error", err)
            alert('gagal jquery read data varian harga')
        })
    }


    const saveData = (no_invoice, barcode, qty, harga_beli, total_harga_detail) => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3000/pembelian/detail`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { no_invoice, barcode, qty, harga_beli, total_harga_detail }
        }).done(function (response) {

            let invo = response.rows[0].no_invoice
            let barcode = response.rows[0].barcode

            alert(`detail ${barcode} added`)
            $("#form-detail").trigger('reset')
            readData(invo)
        }).fail(function (err) {
            alert('gagal pake jquery save details1')
        })
    }

    const saveBeli = (no_invoice, id_supplier, id_gudang, id_operator, total_harga) => {

        $.ajax({
            method: "PUT",
            url: `http://localhost:3000/pembelian/pbelian/${no_invoice}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { id_supplier, id_gudang, id_operator, total_harga }
        }).done(function (response) {
            alert('pembelian telah tertambah')
            $("#form-pembelian").trigger("reset");
            $("#form-detail").trigger("reset");
            $("#close").trigger("click")
            readData()
        }).fail(function (err) {
            console.log(err)
            alert('gagal pake jquery1', err)
        })
    }

    const saveInvoice = () => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3000/pembelian/createinvoice/`,
            dataType: "json",
            headers: {
                json: true
            },
            data: {}
        }).done(function (response) {
            $("#no_invoice").val(response[0].no_invoice)
            alert('Invoice Created')
        }).fail(function (err) {
            alert('gagal pake jquery save')
        })
    }


    // const editData = (id) => {
    //     $.ajax({
    //         method: "GET",
    //         url: `http://localhost:3000/pembelian/${id}`,
    //         dataType: "json",
    //         headers: {
    //             json: true
    //         }
    //     }).done(function (data) {
    //         console.log(data[0].sell_price)
    //         $('#id_supplier').val(data[0].id_supplier)
    //         $('#id_gudang').val(data[0].id_gudang)
    //         $('#id_operator').val(data[0].id_operator)
    //         $('#tanggal_pembelian').val(data[0].tanggal_pembelian)
    //         $('#total_harga').val(data[0].total_harga)
    //     }).fail(function (err) {
    //         alert('gagal pake jquery')
    //     })
    // }

    const deleteData = (id) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3000/pembelian/${id}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {

            readData()
        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })
    }

    const deleted = (id_detail) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3000/pembelian/dtl/${id_detail}`,
            dataType: "json",
            headers: {
                json: true
            }
        }).done(function (response) {
            const invo = $('#no_invoice').val()
            if (invo) {
                alert('details deleted')
                readData(invo)
            } else {
                alert('details deleted')
                readData()
            }
        }).fail(function (err) {
            alert('gagal pake jquery delete')
        })
    }




    function getAmount() {
        var qty = $('#qty').val();
        var harga = $('#harga_beli').val();
        $('#total_harga_detail').val(qty * harga);

    }

    $(document).ready(function () {
        readData()
        // readSelect()

        $('#saveDetails').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const barcode = $('#barcode').val()
            const qty = $('#qty').val()
            const harga_beli = $('#harga_beli').val()
            const total_harga_detail = $('#total_harga_detail').val()
            saveData(no_invoice, barcode, qty, harga_beli, total_harga_detail)

        })

        $('#savePembelian').click(function (event) {
            event.preventDefault();
            const no_invoice = $('#no_invoice').val()
            const id_supplier = $('#id_supplier').val()
            const id_gudang = $('#id_gudang').val()
            const id_operator = $('#id_user').val()
            const total_harga = $('#total_harga').val()
            saveBeli(no_invoice, id_supplier, id_gudang, id_operator, total_harga)


        })

        $('#reset-form-search').click(function () {
            params = {}
            $("#form-search").trigger("reset");
            readData()
        })

        $('table tbody').on('click', '.link', function (event) {
            event.preventDefault()
            params = { ...params, noInvoice: $(this).attr('datapage') }
            readData()
        })

        $('table tbody').on('click', '.btn-icon-text', function () {
            const id = $(this).attr('id_data')
            editData(id)

        })

        $('table tbody').on('click', '.btn-icon-delete', function () {
            const id = $(this).attr('id_data')
            deleteData(id)
        })

        $('#detail_pembelian').on('click', '.btn-icon-delete', function () {
            event.preventDefault()
            const id = $(this).attr('id_detal')
            deleted(id)
        })

        $('#beli_detail').on('click', '.btn-icon-delete', function () {
            event.preventDefault()
            const detail_id = $(this).attr('detail_data')
            deleted(detail_id)
        })

        $('#reset-form-detail').click(function () {
            $("#form-detail").trigger("reset");
        })

        $('#generateinvoice').click(function () {
            saveInvoice()
        })

        $('#barcode').on('change', function () {
            varianValue(this.value);
        });

    })
</script>