<%- include('./partials/header') %>

<%- include('./partials/menu') %>

        <body>
            <div class="clearfix"></div>
            <div class="content-wrapper">
                <div class="container-fluid">

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Satuan</h5>
                                    <div class="table-responsive">
                                        <table class="table">
                <thead id="sorting">
                    <tr>
                        <th>id satuan</th>
                        <th>nama satuan</th>
                        <th>keterangan</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="row">
                <div class="col-6">
                    <ul aria-label="Page navigation" id="pagination">
                    </ul>
                </div>
                <div class="col-6">
                    <div class="row">

                    </div>
                </div>

            </div>
            <form id="form-tambah">
                <input type="hidden" id="id" name="id" value="">
                <div class="card">
                    <div class="card-header">
                        <h2>Form Satuan Tambah</h2>
                    </div>

                    <div class="card-body">

                        <div class="row mb-3">
                            <label for="id_satuan" class="col-sm-2 col-form-label">id satuan</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id_satuan" name="ID_satuan" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="nama_satuans" class="col-sm-2 col-form-label">nama satuan</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nama_satuan" name="Nama_satuan" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="keterangan" class="col-sm-2 col-form-label">keterangan</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="keterangan" name="Keterangan" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <form id="form-edit">
            <input type="hidden" id="id" name="id" value="">
            <div class="card">
                <div class="card-header">
                    <h5>Form Satuan Edit</h5>
                </div>

                <div class="card-body">

                    <div class="row mb-3">
                        <label for="id_satuan" class="col-sm-2 col-form-label">id satuan</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="id_satuanedit" name="ID_satuan" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="nama_satuan" class="col-sm-2 col-form-label">nama satuan</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nama_satuanedit" name="Nama_satuan" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="keterangan" class="col-sm-2 col-form-label">keterangan</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="keteranganedit" name="Keterangan" required>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </div>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.1.js"
integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

<script>
    var params = {
        display: 3,
        page: 1
    }
    const readData = () => {
        $.ajax({
            method: "GET",
            url: "http://localhost:3000/satuan",
            dataType: "json",
            headers: {
                json: true
            },
            data: params
        }).done(function (data) {
            let html = ''
            data.forEach((item, index) => {
                html += `
    <tr>
      <td>${item.id_satuan}</td>
      <td>${item.nama_satuan}</td>
      <td>${item.keterangan}</td>
      <td>
        <button type="button" class="btn btn-success btn-sm btn-edit" id_data="${item.id_satuan}"><i class="zmdi zmdi-edit"></i></button>
        <button type="button" class="btn btn-danger btn-sm btn-delete" id_data="${item.id_satuan}"><i class="zmdi zmdi-delete"></i></button>
      </td>
    </tr>
    `
            });
            $('table tbody').html(html)
        }).fail(function (err) {
            alert('gagal jquery')
        })
    }

    const saveData = (id_satuan, nama_satuan, keterangan) => {
        $.ajax({
            method: "POST",
            url: `http://localhost:3000/satuan`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { id_satuan, nama_satuan, keterangan }
        }).done(function (response) {
            readData()
            $("#form-tambah").trigger("reset");
        }).fail(function (err) {
            alert('gagal pake jquery')
        })
    }


    const saveEdit = (id_satuan, nama_satuan, keterangan) => {
        $.ajax({
            method: "PUT",
            url: `http://localhost:3000/satuan/${id_satuan}`,
            dataType: "json",
            headers: {
                json: true
            },
            data: { nama_satuan, keterangan }
        }).done(function (response) {
            readData()
            $('#id_satuanedit').val('')
            $("#form-edit").trigger("reset");
        }).fail(function (err) {
            console.log(err)
            alert('gagal jquery')
        })
    }


    const editData = (id) => {
        $.ajax({
            method: "GET",
            url: `http://localhost:3000/satuan/${id}`,
            dataType: "json",
            headers: {
                json: true
            },
        }).done(function (data) {
            $('#id_satuanedit').val(data[0].id_satuan)
            $('#nama_satuanedit').val(data[0].nama_satuan)
            $('#keteranganedit').val(data[0].keterangan)
        }).fail(function (err) {
            alert('gagal pake jquery')
        })
    }

    const deleteData = (id) => {
        $.ajax({
            method: "DELETE",
            url: `http://localhost:3000/satuan/${id}`,
            dataType: "json",
            headers: {
                json: true
            },
        }).done(function (response) {
            readData()
        }).fail(function (err) {
            alert('gagal pake jquery')
        })
    }

    $(document).ready(function () {
        readData()

        $('#form-tambah').submit(function (event) {
            event.preventDefault();
            const id_satuan = $('#id_satuan').val()
            const nama_satuan = $('#nama_satuan').val()
            const keterangan = $('#keterangan').val()

            saveData(id_satuan, nama_satuan, keterangan)
        })

        $('#form-edit').submit(function (event) {
            event.preventDefault();
            const id_satuan = $('#id_satuanedit').val()
            const nama_satuan = $('#nama_satuanedit').val()
            const keterangan = $('#keteranganedit').val()

            saveEdit(id_satuan, nama_satuan, keterangan)
        })


        $('table tbody').on('click', '.btn-edit', function () {
            const id = $(this).attr('id_data')
           
            editData(id)
        })

        $('table tbody').on('click', '.btn-delete', function () {
            const id = $(this).attr('id_data')
            deleteData(id)
        })


    })

</script>
<%- include('./partials/footer') %>