<%- include('./partials/header') %>

<%- include('./partials/menu') %>
    <body>
      <div class="clearfix"></div>
      <div class="content-wrapper">
        <div class="container-fluid">

          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Varian</h5>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush table-borderless">
                      <thead id="sorting">
                        <tr>
                          <th> Barcode </th>
                          <th> ID Barang</th>
                          <th> Nama Barang</th>
                          <th> Nama Varian</th>
                          <th> Stock</th>
                          <th> Pictures</th>
                          <th> Harga Jual</th>
                          <th> Harga Beli</th>
                          <th> Action</th>
                        </tr>
                      </thead>
                      <tbody encType="multipart/form-data">

                      </tbody>
                    </table>

                    <div class="row mb-3">
                      <div class="col-sm-12">
                        <ul aria-label="Page navigation" id="pagination">
                        </ul>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-12">

                        </div>
                      </div>

                    </div>

                    <div class="card">
                      <div class="card-header">
                        <h5>Tambah Varian</h5>
                      </div>
                      <form id="form-tambah" class="forms-group">
                        <div class="card-body">
                          <div class="row mb-3">
                            <label for="barcodes" class="col-sm-2 col-form-label">ID Varian</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="barcode" id="barcode"
                                placeholder="ID varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="varian_name" class="col-sm-2 col-form-label">Nama varian</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="varian_name" id="varian_name"
                                placeholder="Nama varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                            <div class="col-sm-10">
                              <input type="integer" class="form-control" name="stock" id="stock"
                                placeholder="Stok varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="buy_price" class="col-sm-2 col-form-label">Harga_beli</label>
                            <div class="col-sm-10">
                              <input type="integer" class="form-control" name="buy_price" id="buy_price"
                                placeholder="Buy varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="sell_price" class="col-sm-2 col-form-label">Harga_jual</label>
                            <div class="col-sm-10">
                              <input type="integer" class="form-control" name="sell_price" id="sell_price"
                                placeholder="Sell varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="id_barang" class="col-sm-2 col-form-label">ID Barang</label>
                            <div class="col-sm-10">
                              <select class="form-control" name="id_barang" id="id_barang">
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="gambar" class="col-sm-2 col-form-label">Upload Gambar</label>
                          <div class="col-sm-10">
                            <img id="blah" alt="your image" width="100" height="100" />
                            <input name="gambar" id="gambar" type="file"
                              onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" id="reset-form-tambah" class="btn btn-warning">reset</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header">
                      <h5>Edit Varian</h5>
                    </div>
                    <form id="form-edit" class="forms-group">
                      <div class="card-body">
                        <div class="row mb-3">
                          <label for="barcode" class="col-sm-2 col-form-label">ID Varian</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="barcodeedit" name="barcodeedit"
                              readonly="readonly">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="varian_name" class="col-sm-2 col-form-label">Nama varian</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="varian_nameedit" name="varian_nameedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="stockedit" name="stockedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="buy_price" class="col-sm-2 col-form-label">Harga beli</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="buy_priceedit" name="buy_priceedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="sell_price" class="col-sm-2 col-form-label">Harga jual</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="sell_priceedit" name="sell_priceedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="id_barang" class="col-sm-2 col-form-label">ID Barang</label>
                          <div class="col-sm-10">
                            <select class="form-control" id="id_barangedit" name="id_barangedit">
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="gambar" class="col-sm-2 col-form-label">Upload Gambar</label>
                          <div class="col-sm-10">
                            <img id="pict" alt="your image" width="100" height="100" />
                            <input name="gambaredit" id="gambaredit" type="file"
                              onchange="document.getElementById('pict').src = window.URL.createObjectURL(this.files[0])">
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" id="reset-form-edit" class="btn btn-warning">reset</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
               
    </body>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <script>

      const readData = () => {
        $.ajax({
          method: "GET",
          url: "http://localhost:3000/varian",
          dataType: "json",
          headers: {
            json: true
          },

        }).done(function (data) {
          let html = ''
          data.forEach((item, index) => {
            console.log(item.pictures[0])
            html += `
          <tr>
            <td>${item.barcode}</td>
            <td>${item.id_barang}</td>
            <td>${item.nama_barang}</td>
            <td>${item.varian_name}</td>
            <td>${item.stock}</td>
            <td> 
              <a target="_blank"
                href="/images/${item.pictures[0]}">
              <img class="product-img" src="/images/${item.pictures[0]}" width="50" alt="image" /> </td>
            </a>
              <td>${item.buy_price}</td>
            <td>${item.sell_price}</td>
            <td>
              <button type="button" class="btn btn-success btn-icon-text" id_data="${item.barcode}"><i class="zmdi zmdi-edit"></i></button>
              <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.barcode}"><i class="zmdi zmdi-delete"></i></button>
            </td>
          </tr>
          `
          });
          $('table tbody').html(html)
        }).fail(function (err) {
          console.log("error", err)
          alert('gagal jquery')
        })
      }

      const readSelect = () => {
        $.ajax({
          method: "GET",
          url: "http://localhost:3000/varian/select",
          dataType: "json",
          headers: {
            json: true
          }
        }).done(function (rows) {
          let html = ''
          rows.forEach((item, index) => {
            html += `
          <option value="${item.id_barang}">
           ${item.id_barang} - ${item.nama_barang}
          </option>
          `
          });
          $('form select').html(html)
        }).fail(function (err) {
          console.log("error", err)
          alert('gagal jquery tambah salah satu ID')
        })
      }


      const editData = (id) => {
        $.ajax({
          method: "GET",
          url: `http://localhost:3000/varian/${id}`,
          dataType: "json",
          headers: {
            json: true
          }
        }).done(function (data) {

          $('#barcodeedit').val(data[0].barcode)
          $('#varian_nameedit').val(data[0].varian_name)
          $('#stockedit').val(data[0].stock)
          $('#buy_priceedit').val(data[0].buy_price)
          $('#sell_priceedit').val(data[0].sell_price)
          $('#id_barangedit').val(data[0].id_barang)

        }).fail(function (err) {
          alert('gagal pake jquery')
        })
      }

      const deleteData = (id) => {
        $.ajax({
          method: "DELETE",
          url: `http://localhost:3000/varian/${id}`,
          dataType: "json",
          headers: {
            json: true
          }

        }).done(function (response) {
          readData()
        }).fail(function (err) {
          alert('gagal pake jquery')
        })
      }

      $(document).ready(function () {
        readData()
        readSelect()


        $('#form-tambah').submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: `http://localhost:3000/varian`,
            type: 'POST',
            headers: {
              json: true
            },
            // Form data
            data: new FormData($('#form-tambah')[0]),
            cache: false,
            contentType: false,
            processData: false,

          }).then((data) => {

            $("#form-tambah").trigger("reset");
            alert('data berhasil tersave');
            readData()
          }).fail((err) => {
            alert('data gagal tersave')

          })
        })

        $('#form-edit').submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: `http://localhost:3000/varian/${barcode}`,
            type: 'PUT',
            headers: {
              json: true
            },
            // Form data
            data: new FormData($('#form-edit')[0]),
            cache: false,
            contentType: false,
            processData: false,

          }).then((data) => {
            console.log(data)
            $("#form-edit").trigger("reset");
            alert('data berhasil tersave');
            readData()
          }).fail((err) => {
            alert('data gagal tersave')

          })
        })


        $('table tbody').on('click', '.btn-icon-text', function () {
          const id = $(this).attr('id_data')
          editData(id)

        })

        $('table tbody').on('click', '.btn-icon-delete', function () {
          const id = $(this).attr('id_data')
          deleteData(id)
        })

        $('#reset-form-tambah').click(function () {
          $("#form-tambah").trigger("reset");
          readData()
        })

        $('#reset-form-edit').click(function () {
          $("#form-edit").trigger("reset");
          readData()
        })


      })
    </script>
    <%- include('./partials/footer') %>