<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
  <!-- loader-->
  <link href="assets/css/pace.min.css" rel="stylesheet" />
  <script src="assets/js/pace.min.js"></script>
  <!--favicon-->
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
  <!-- Vector CSS -->
  <link href="assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
  <!-- simplebar CSS-->
  <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
  <!-- Bootstrap core CSS-->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- animate CSS-->
  <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
  <!-- Icons CSS-->
  <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
  <!-- Sidebar CSS-->
  <link href="assets/css/sidebar-menu.css" rel="stylesheet" />
  <!-- Custom Style-->
  <link href="assets/css/app-style.css" rel="stylesheet" />


</head>

<body class="bg-theme bg-theme1">

  <!-- Start wrapper-->
  <div id="wrapper">

    <!--Start sidebar-wrapper-->
    <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
      <div class="brand-logo">
        <a href="index.html">
          <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
          <h5 class="logo-text">Dashtreme Admin</h5>
        </a>
      </div>
      <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li>
          <a href="/utama">
            <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="/barang">
            <i class="zmdi zmdi-label"></i> <span> Barang</span>

          </a>
        </li>

        <li>
          <a href="/gudang">
            <i class="zmdi zmdi-store-24"></i> <span>Gudang</span>
          </a>
        </li>

        <li>
          <a href="/penjualan">
            <i class="zmdi zmdi-format-valign-top"></i> <span>Penjualan</span>
          </a>
        </li>

        <li>
          <a href="/pembelian">
            <i class="zmdi zmdi-format-valign-bottom"></i> <span>Pembelian</span>
          </a>
        </li>

        <li>
          <a href="/satuan">
            <i class="zmdi zmdi-delicious"></i> <span>Satuan</span>
          </a>
        </li>

        <li>
          <a href="/supplier">
            <i class="zmdi zmdi-truck"></i> <span>Supplier</span>
          </a>
        </li>

        <li>
          <a href="/varian">
            <i class="zmdi zmdi-view-quilt"></i> <span>Varian</span>
          </a>
        </li>

        <li>
          <a href="profile.html">
            <i class="zmdi zmdi-face"></i> <span>Profile</span>
          </a>
        </li>

        <li>
          <a href="login.html" target="_blank">
            <i class="zmdi zmdi-lock"></i> <span>Login</span>
          </a>
        </li>

        <li>
          <a href="register.html" target="_blank">
            <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
          </a>
        </li>

      </ul>

    </div>
    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
      <nav class="navbar navbar-expand fixed-top">
        <ul class="navbar-nav mr-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link toggle-menu" href="javascript:void();">
              <i class="icon-menu menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <form class="search-bar">
              <input type="text" class="form-control" placeholder="Enter keywords">
              <a href="javascript:void();"><i class="icon-magnifier"></i></a>
            </form>
          </li>
        </ul>

        <ul class="navbar-nav align-items-center right-nav-link">
          <li class="nav-item dropdown-lg">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();">
              <i class="fa fa-envelope-open-o"></i></a>
          </li>
          <li class="nav-item dropdown-lg">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();">
              <i class="fa fa-bell-o"></i></a>
          </li>
          <li class="nav-item language">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
              href="javascript:void();"><i class="fa fa-flag"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
              <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
              <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
              <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
              <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle"
                  alt="user avatar"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item user-details">
                <a href="javaScript:void();">
                  <div class="media">
                    <div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110x110"
                        alt="user avatar"></div>
                    <div class="media-body">
                      <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
                      <p class="user-subtitle">mccoy@example.com</p>
                    </div>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><i class="icon-power mr-2"></i><a href="/logout"> Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <!--End topbar header-->

    <!--start color switcher-->
    <div class="right-sidebar">
      <div class="switcher-icon">
        <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
      </div>
      <div class="right-sidebar-content">

        <p class="mb-0">Gaussion Texture</p>
        <hr>

        <ul class="switcher">
          <li id="theme1"></li>
          <li id="theme2"></li>
          <li id="theme3"></li>
          <li id="theme4"></li>
          <li id="theme5"></li>
          <li id="theme6"></li>
        </ul>

        <p class="mb-0">Gradient Background</p>
        <hr>

        <ul class="switcher">
          <li id="theme7"></li>
          <li id="theme8"></li>
          <li id="theme9"></li>
          <li id="theme10"></li>
          <li id="theme11"></li>
          <li id="theme12"></li>
          <li id="theme13"></li>
          <li id="theme14"></li>
          <li id="theme15"></li>
        </ul>

      </div>
    </div>
    <!--end color switcher-->

    <body>
      <div class="clearfix"></div>
      <div class="content-wrapper">
        <div class="container-fluid">

          <div class="row mb-3">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Varian</h5>
                  <div class="table-responsive">
                    <table class="table">
                      <thead id="sorting">
                        <tr>
                          <th> Barcode </th>
                          <th> ID Barang</th>
                          <th> Nama Barang</th>
                          <th> Nama Varian</th>
                          <th> Stock</th>
                          <th> Pictures</th>
                          <th> Harga Jual</th>
                          <th> Harga Beli</th>
                          <th> Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <img src="../public/images/Jerukmandarin.jpeg" alt="image" /> -->
                      </tbody>
                    </table>

                    <div class="row mb-3">
                      <div class="col-sm-12">
                        <ul aria-label="Page navigation" id="pagination">
                        </ul>
                      </div>
                      <div class="row mb-3">
                        <div class="col-sm-12">

                        </div>
                      </div>

                    </div>

                    <div class="card">
                      <div class="card-header">
                        <h5>Tambah Varian</h5>
                      </div>
                      <form id="form-tambah" class="forms-group">
                        <div class="card-body">
                          <div class="row mb-3">
                            <label for="barcodes" class="col-sm-2 col-form-label">ID Varian</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="barcode" id="barcode"
                                placeholder="ID varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="varian_name" class="col-sm-2 col-form-label">Nama varian</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" name="varian_name" id="varian_name"
                                placeholder="Nama varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                            <div class="col-sm-10">
                              <input type="integer" class="form-control" name="stock" id="stock"
                                placeholder="Stok varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="buy_price" class="col-sm-2 col-form-label">Harga_beli</label>
                            <div class="col-sm-10">
                              <input type="integer" class="form-control" name="buy_price" id="buy_price"
                                placeholder="Buy varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="sell_price" class="col-sm-2 col-form-label">Harga_jual</label>
                            <div class="col-sm-10">
                              <input type="integer" class="form-control" name="sell_price" id="sell_price"
                                placeholder="Sell varian">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <label for="id_barang" class="col-sm-2 col-form-label">ID Barang</label>
                            <div class="col-sm-10">
                              <select class="form-control" name="id_barang" id="id_barang">
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="gambar" class="col-sm-2 col-form-label">Upload Gambar</label>
                          <div class="col-sm-10">
                            <img id="blah" alt="your image" width="100" height="100" />
                            <input name="gambar" id="gambar" type="file"
                              onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" id="reset-form-tambah" class="btn btn-warning">reset</button>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header">
                      <h5>Edit Varian</h5>
                    </div>
                    <form id="form-edit" class="forms-group">
                      <div class="card-body">
                        <div class="row mb-3">
                          <label for="barcode" class="col-sm-2 col-form-label">ID Varian</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="barcodeedit" name="barcodeedit"
                              readonly="readonly">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="varian_name" class="col-sm-2 col-form-label">Nama varian</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="varian_nameedit" name="varian_nameedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="stock" class="col-sm-2 col-form-label">Stock</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="stockedit" name="stockedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="buy_price" class="col-sm-2 col-form-label">Harga beli</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="buy_priceedit" name="buy_priceedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="sell_price" class="col-sm-2 col-form-label">Harga jual</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="sell_priceedit" name="sell_priceedit">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="id_barang" class="col-sm-2 col-form-label">ID Barang</label>
                          <div class="col-sm-10">
                            <select class="form-control" id="id_barangedit" name="id_barangedit">
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="gambar" class="col-sm-2 col-form-label">Upload Gambar</label>
                          <div class="col-sm-10">
                            <img id="pict" alt="your image" width="100" height="100" />
                            <input name="gambaredit" id="gambaredit" type="file"
                              onchange="document.getElementById('pict').src = window.URL.createObjectURL(this.files[0])">
                          </div>
                        </div>
                        <div class="card-footer">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <button type="button" id="reset-form-edit" class="btn btn-warning">reset</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

    <script>

      const readData = () => {
        $.ajax({
          method: "GET",
          url: "http://localhost:3000/varian",
          dataType: "json",
          headers: {
            json: true
          },

        }).done(function (data) {
          let html = ''
          data.forEach((item, index) => {
            html += `
          <tr>
            <td>${item.barcode}</td>
            <td>${item.id_barang}</td>
            <td>${item.nama_barang}</td>
            <td>${item.varian_name}</td>
            <td>${item.stock}</td>
            <td> <img src="../public/images/${item.pictures}" alt="image" /> </td>
            <td>${item.buy_price}</td>
            <td>${item.sell_price}</td>
            <td>
              <button type="button" class="btn btn-success btn-icon-text" id_data="${item.barcode}"><i class="zmdi zmdi-edit"></i></button>
              <button type="button" class="btn btn-danger btn-icon-delete" id_data="${item.barcode}"><i class="zmdi zmdi-delete"></i></button>
            </td>
          </tr>
          `
          });
          $('table tbody').html(html)
        }).fail(function (err) {
          console.log("error", err)
          alert('gagal jquery')
        })
      }

      const readSelect = () => {
        $.ajax({
          method: "GET",
          url: "http://localhost:3000/varian/select",
          dataType: "json",
          headers: {
            json: true
          }
        }).done(function (rows) {
          let html = ''
          rows.forEach((item, index) => {
            html += `
          <option value="${item.id_barang}">
           ${item.id_barang} - ${item.nama_barang}
          </option>
          `
          });
          $('form select').html(html)
        }).fail(function (err) {
          console.log("error", err)
          alert('gagal jquery tambah salah satu ID')
        })
      }


      const editData = (id) => {
        $.ajax({
          method: "GET",
          url: `http://localhost:3000/varian/${id}`,
          dataType: "json",
          headers: {
            json: true
          }
        }).done(function (data) {

          $('#barcodeedit').val(data[0].barcode)
          $('#varian_nameedit').val(data[0].varian_name)
          $('#stockedit').val(data[0].stock)
          $('#buy_priceedit').val(data[0].buy_price)
          $('#sell_priceedit').val(data[0].sell_price)
          $('#id_barangedit').val(data[0].id_barang)

        }).fail(function (err) {
          alert('gagal pake jquery')
        })
      }

      const deleteData = (id) => {
        $.ajax({
          method: "DELETE",
          url: `http://localhost:3000/varian/${id}`,
          dataType: "json",
          headers: {
            json: true
          }

        }).done(function (response) {
          readData()
        }).fail(function (err) {
          alert('gagal pake jquery')
        })
      }

      $(document).ready(function () {
        readData()
        readSelect()


        $('#form-tambah').submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: `http://localhost:3000/varian`,
            type: 'POST',
            headers: {
              json: true
            },
            // Form data
            data: new FormData($('#form-tambah')[0]),
            cache: false,
            contentType: false,
            processData: false,

          }).then((data) => {

            $("#form-tambah").trigger("reset");
            alert('data berhasil tersave');
            readData()
          }).fail((err) => {
            alert('data gagal tersave')

          })
        })

        $('#form-edit').submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: `http://localhost:3000/varian/${barcode}`,
            type: 'PUT',
            headers: {
              json: true
            },
            // Form data
            data: new FormData($('#form-edit')[0]),
            cache: false,
            contentType: false,
            processData: false,

          }).then((data) => {
            console.log(data)
            $("#form-edit").trigger("reset");
            alert('data berhasil tersave');
            readData()
          }).fail((err) => {
            alert('data gagal tersave')

          })
        })


        $('table tbody').on('click', '.btn-icon-text', function () {
          const id = $(this).attr('id_data')
          editData(id)

        })

        $('table tbody').on('click', '.btn-icon-delete', function () {
          const id = $(this).attr('id_data')
          deleteData(id)
        })

        $('#reset-form-tambah').click(function () {
          $("#form-tambah").trigger("reset");
          readData()
        })

        $('#reset-form-edit').click(function () {
          $("#form-edit").trigger("reset");
          readData()
        })


      })
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="assets/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="assets/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="assets/js/jquery.loading-indicator.js"></script>
    <!-- Custom scripts -->
    <script src="assets/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="assets/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="assets/js/index.js"></script>
</body>

</html>